{% load static %}

<!DOCTYPE html>
<html lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <title>BIZZY</title>
      <!-- core:css -->
      <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
      <!-- endinject -->
      <!-- plugin css for this page -->
      <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
      <!-- end plugin css for this page -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/sweetalert2/sweetalert2.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
      <!-- endinject -->
      <!-- Layout styles -->  
      <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}">
      <!-- End layout styles -->
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

  <body>

    <div class="main-wrapper">

      <script>
 
        {% if messages %}
            {% for message in messages %}
              swal('{{message}}')
            {% endfor %}
          {% endif %}
  
      </script>

      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar">
        <div class="sidebar-header">
          <router-link to="/"><a href="{% url 'dashboard' %}" class="sidebar-brand">
            BIZZY<span>UI</span>
          </a></router-link>
          <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="sidebar-body">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos_view' %}" class="nav-link">
                <i class="link-icon" data-feather="dollar-sign"></i>
                <span class="link-title">POS</span>
              </a>
            </li>
            <li class="nav-item nav-category">applications</li>
            <li class="nav-item">
              <a href="{% url 'sales-view' %}" class="nav-link">
                <i class="link-icon" data-feather="briefcase"></i>
                <span class="link-title">Sales</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'expenses-view' %}" class="nav-link">
                <i class="link-icon" data-feather="file"></i>
                <span class="link-title">Expenses</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'purchases-view' %}" class="nav-link">
                <i class="link-icon" data-feather="tag"></i>
                <span class="link-title">Purchases</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'inventory-view' %}" class="nav-link">
                <i class="link-icon" data-feather="clipboard"></i>
                <span class="link-title">Inventory</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'customer-view' %}" class="nav-link">
                <i class="link-icon" data-feather="users"></i>
                <span class="link-title">Customers</span>
              </a>
            </li>

          </ul>
        </div>
      </nav>
      <!-- partial -->
    
      <div class="page-wrapper">

        
            
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content">
            <ul class="navbar-nav">
              <li class="nav-item dropdown nav-profile">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://via.placeholder.com/30x30" alt="profile">
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <div class="dropdown-header d-flex flex-column align-items-center">
                    <div class="figure mb-3">
                      <img src="https://via.placeholder.com/80x80" alt="">
                    </div>
                    <div class="info text-center">
                      <p class="name font-weight-bold mb-0">{{request.user.username}}</p>
                      <p class="email text-muted mb-3">{{request.user.email}}</p>
                    </div>
                  </div>
                  <div class="dropdown-body">
                    <ul class="profile-nav p-0 pt-3">
                      <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                          <i data-feather="repeat"></i>
                          <span>Manage Users</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'logout-view' %}" class="nav-link">
                          <i data-feather="log-out"></i>
                          <span>Log Out</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->

        {% block content %}

        {% endblock %}

        <!-- partial:partials/_footer.html -->
        <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
          <p class="text-muted text-center text-md-left">Copyright © <script>document.write(new Date().getFullYear())</script> <a href="https://flatvalley.co.ke" target="_blank">Flat Valley Solutions</a>. All rights reserved</p>
        </footer>
        <!-- partial -->
      
      </div>


    </div>



    <!-- core:js -->
    <script src="{% static 'assets/vendors/core/core.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assets/vendors/moment/moment.min.js' %}"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %]"></script>
    <script src="{% static 'assets/js/data-table.js' %}"></script>
    <script src="{% static 'assets/js/chartjs.js' %}"></script>
    <script src="{% static 'assets/js/jquery.flot.js' %}"></script>
    <!-- end custom js for this page -->

  </body>
</html>