{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="page-content">


    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
          <h4 class="mb-3 mb-md-0">Customers</h4>
        </div>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
          <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addCustomerModal">
            <i class="btn-icon-prepend" data-feather="file-plus"></i>
            Add New Customer
          </button>
        </div>
    </div>


    <div class="row">

      <div class="col-lg-12 col-xl-12 stretch-card">
          <div class="card">
          <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-4">All Products</h6>
              </div>
              <div class="table-responsive">
              <table id="dataTableExample" class="table table-hover mb-0">
                  <thead>
                  <tr>
                      <th class="pt-0">Name</th>
                      <th class="pt-0">Contact</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for customer in customers %}
                  <tr>
                      <td>{{customer.name}}</td>
                      <td>{{customer.contact}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
          </div> 
          </div>
      </div>

    </div>


    <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
  
              <form class="forms-sample" method="POST" action="">
                {% csrf_token %}
                
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Customer Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" maxlength="50" required="" id="id_name">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Contact</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="contact" required="" id="id_contact">
                    </div>
                </div>
  
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                  <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
                  </div>
                
  
              </form>
              
            </div>
  
            
          </div>
        </div>
    </div>

</div>


{% endblock %}