{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="page-content">

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Welcome Back</h4>
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
          <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
          <input type="text" class="form-control">
        </div>
        <a type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" href="{% url 'pos_view' %}">
          <i class="btn-icon-prepend" data-feather="dollar-sign"></i>
          New Sale
        </a>
        <button type="button" class="btn btn-outline-primary btn-icon-text mr-2 mb-2 mb-md-0" data-toggle="modal" data-target="#PurchaseModal">
          <i class="btn-icon-prepend" data-feather="shopping-bag"></i>
          New Purchase
        </button>
        <button type="button" class="btn btn-outline-danger btn-icon-text mr-2 mb-2 mb-md-0" data-toggle="modal" data-target="#addExpenseModal">
          <i class="btn-icon-prepend" data-feather="file-minus"></i>
          Add Expense
        </button>
        <button type="button" class="btn btn-outline-warning btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addProductModal">
          <i class="btn-icon-prepend" data-feather="file-plus"></i>
          Add Product
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0">Sales Today</h6>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12 col-xl-12">
                    <h3 class="mb-2 mt-2">Ksh {{sales_today.total_amount|intcomma}}</h3>
                    <div class="d-flex align-items-baseline">
                      {% if daily_percent_change > 0 %}
                      <p class="text-success">
                        <span>+{{daily_percent_change}}%</span>
                        <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                      </p>
                      {% elif daily_percent_change < 0 %}
                      <p class="text-danger">
                        <span>{{daily_percent_change}}%</span>
                        <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                      </p>
                      {% else %}
                      <p class="text-info">
                        <span>{{daily_percent_change}}</span>
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0">Unpaid</h6>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12 col-xl-12">
                    <h3 class="mb-2 text-warning mt-2">Ksh {{unpaid_sales_total|intcomma}}</h3>
                    <div class="d-flex align-items-baseline">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0"> {{purchase_month_name}} Profits</h6>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12 col-xl-12">
                    <h3 class="mb-2 mt-2">Ksh {{monthly_sales.profit|intcomma}}</h3>
                    <div class="d-flex align-items-baseline">
                      {% if monthly_percent_change > 0 %}
                      <p class="text-success">
                        <span>+{{monthly_percent_change}}%</span>
                        <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                      </p>
                      {% elif monthly_percent_change < 0 %}
                      <p class="text-danger">
                        <span>{{monthly_percent_change}}%</span>
                        <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                      </p>
                      {% else %}
                      <p class="text-info">
                        <span>{{monthly_percent_change}}</span>
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
          <div class="card-body">
            <h6 class="card-title">Daily Sales Chart</h6>
            <div class="row" >
              <canvas id="chartjsLine" height="400" width="1000"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
              <h6 class="card-title mb-0">Monthly sales & profit</h6>
            </div>
            <p class="text-muted mb-4">Sales are activities related to selling or the number of goods or services sold in a given time period.</p>
            <canvas id="chartjsMonthlyAnalysis"></canvas>
          </div> 
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
              <h6 class="card-title mb-0">Monthly Sales Target</h6>
              
            </div>
            <div id="progressbar1" class="mx-auto"></div>
            <div class="row mt-4 mb-3">
              <div class="col-6 d-flex justify-content-end">
                <div>
                  <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase font-weight-medium">Target <span class="p-1 ml-1 rounded-circle bg-primary-muted"></span></label>
                  <h5 class="font-weight-bold mb-0 text-right" id="progress_target">Ksh {{monthly_target.sales_target|intcomma}}</h5>
                </div>
              </div>
              <div class="col-6">
                <div>
                  <label class="d-flex align-items-center tx-10 text-uppercase font-weight-medium"><span class="p-1 mr-1 rounded-circle bg-primary"></span> Progress</label>
                  <h5 class="font-weight-bold mb-0" id="progress_achieved">Ksh {{monthly_target.total_amount|intcomma}}</h5>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#TargetSaleModal">Update Target</button>
          </div>
        </div>
      </div>
    </div> <!-- row -->


    <div class="row">

      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
              <h6 class="card-title mb-0">Unpaid Sales</h6>
            </div>
            <div class="table-responsive">
              <table id="dataTableExample" class="table">
                <thead >
                  <tr >
                    <th>#</th>
                    <th>Date</th>
                    <th class="pt-0">Customer</th>
                    <th class="pt-0">Total</th>
                    <th class="pt-0">Paid</th>
                    <th class="pt-0">Status</th>
                    <th class="pt-0">Balance</th>
                    
                
                  </tr>
                </thead>
                <tbody>
                  {% for sale in unpaid_sales %}
                  <tr>
                    <td>{{sale.id}}</td>
                    <td>{{sale.date_sold}}</td>  
                    <td>{{sale.customer_name}}</td>
                    <td>Ksh {{sale.actual_cost|intcomma}}</td>
                    <td>Ksh {{sale.paid_amount|intcomma}}</td>
                    {% if sale.status == 'PAID' %}
                    <td><span class="badge badge-success">PAID</span></td> 
                    <td>Ksh {{sale.balance|intcomma}}</td>
                    {% elif sale.status == 'PENDING' %}
                    <td><span class="badge badge-danger">PENDING</span></td>
                    <td>Ksh {{sale.balance|intcomma}}<small><a href="{% url 'edit-sale-view' sale.id %}" class="badge badge-warning ml-2">update</a></small></td>
                    {% endif %}
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div> 
        </div>
      </div>
        
    </div> <!-- row -->



    <!-- Modals -->

    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="product_name" maxlength="50" required="" id="id_product_name">
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Selling Price</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="selling_price" value="0" required="" id="id_selling_price">
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
                </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
    </div>


    <div class="modal fade" id="PurchaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Purchase</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}

              <!-- {{purchase_form}} -->
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    {{purchase_form.product}}
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Quantity</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="quantity" required="" id="id_quantity">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Buying </br> Price</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="buying_price" required="" id="id_buying_price">
                  </div>
              </div>
              
              <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
              <!-- <button class="btn btn-light mt-4">Cancel</button> -->
            </form>
            
          </div>

          
        </div>
      </div>
    </div>

    <div class="modal fade" id="SaleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Sale</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              

              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    {{sale_form.product}}
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Quantity</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="quantity" required="" id="id_quantity">
                  </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Payment Method</label>
                <div class="col-sm-9">
                    {{sale_form.payment_choices}}
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Customer Details</label>
                <div class="col-sm-9">
                  <input type="text" name="customer_name" class="form-control" maxlength="30" required="" id="id_customer_name">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Amount Paid</label>
                <div class="col-sm-9">
                  <input type="number" name="paid_amount" class="form-control" required="" id="id_paid_amount">
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
              </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="TargetSaleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Sales Target</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              

              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Sales Target</label>
                <div class="col-sm-9">
                    {{target_form.sales_target}}
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
              </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
    </div>


    <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                  <input type="date" name="date" class="form-control date datepicker" required="" id="id_date">
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9">
                      <input type="text" name="description" class="form-control" placeholder="short description" maxlength="100" required="" id="id_description">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Amount</label>
                  <div class="col-sm-9">
                      <input type="number" name="amount" class="form-control" min="0" required="" id="id_amount">
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
                </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
  </div>


  </div>

{% endblock %}