{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class="page-content">

    <div class="col-lg-6 col-xl-6  stretch-card">
        <div class="card">
          <div class="card-body">

            <form class="forms-sample" method="POST" action="">
                {% csrf_token %}
                
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Name</label>
                  <div class="col-sm-9">
                    <!-- <input type="text" class="form-control" name="product_name" maxlength="50" required="" value="{{form.product_name}}" id="id_product_name"> -->
                    {{form.product_name}}
                  </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Selling Price</label>
                    <div class="col-sm-9">
                      <!-- <input type="number" class="form-control" name="selling_price" value="0" required="" value="{{form.selling_price}}" id="id_selling_price"> -->
                      {{form.selling_price}}
                    </div>
                </div>
  
                <button type="submit" class="btn btn-primary mr-2 mt-4">Save Changes</button>             
  
            </form>

          </div>
        </div>
    </div>

</div>


{% endblock %}