{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class="page-content">

    <div class="row">

        <div class=" col-md-6  stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Sale Details</h4>
                <form class="forms-sample">
                    
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h5>Customer Details: <span class="ml-2">{{sale.customer_name}}</span></h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <h5>Products:</h5>
                        </div>
                        <div class="col-sm-9">

                            <table class="table">
                            
                                <thead class="mb-2">
                                    <tr class="mb-4" style="border-top: 1px dashed black; border-bottom: 1px dashed black; margin-bottom: 8px;">
                                        <td>Item</td>
                                        <td>@</td>
                                        <td class="text-centre" >Qty</td>
                                        <td>Amount</td>
                                    </tr>
                                </thead>

                                <tbody class="mt-2">
                                    {% for i in sale.products %}
                                    <tr>
                                        <td>{{i.name}}</td>
                                        <td class="text-centre">Ksh {{i.price|intcomma}}</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{{i.total_price}}</td>
                                
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>                                

                            </table>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h5 class="mb-1">Actual Cost: <span class="ml-2 text-primary">Ksh {{sale.total_cost|intcomma}}</span></h5>
                            <h5>Discount: <span class="ml-2 text-warning">Ksh {{sale.discount|intcomma}}</span></h5>
                            <h5 class="mt-1">Total Cost: <span class="ml-2 text-info">Ksh {{sale.actual_cost|intcomma}}</span></h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h5 class="mb-1">Total Paid: <span class="ml-2 text-success">Ksh {{sale.paid_amount|intcomma}}</span>  </h5>
                            <h5>Balance: <span class="ml-2 text-danger">Ksh {{sale.balance|intcomma}}</span>  </h5>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <a href="{% url 'undo-sale-view' sale.id %}" type="button" class="btn btn-danger mr-2 mt-4 float-right">UNDO</a>
                        </div>
                    </div>
                    
                    
    
                </form>

            </div>
            </div>
        </div>

        
        <div class="col-md-6 stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="form-sample">

                        {% if sale.status == 'PENDING' %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <h4 class="card-title mb-4">Add New Payment</h4>
                                <form class="forms-sample" method="POST" action="">
                                    {% csrf_token %}
                                    
                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">Payment Choice</label>
                                        <div class="col-sm-9">
                                        <!-- <input type="number" class="form-control" name="selling_price" value="0" required="" value="{{form.selling_price}}" id="id_selling_price"> -->
                                        {{form.payment_choice}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">Amount</label>
                                        <div class="col-sm-9">
                                        <!-- <input type="number" class="form-control" name="selling_price" value="0" required="" value="{{form.selling_price}}" id="id_selling_price"> -->
                                        <input class="form-control" type="number" name="amount" required="" id="id_amount">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label">TransID</label>
                                        <div class="col-sm-9">
                                        <!-- <input type="number" class="form-control" name="selling_price" value="0" required="" value="{{form.selling_price}}" id="id_selling_price"> -->
                                        <input class="form-control" type="text" name="payment_id" maxlength="50" id="id_payment_id">
                                        </div>
                                    </div>
                    
                                    <button type="submit" class="btn btn-primary mr-2 mt-4">Update</button>             
                    
                                </form>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <h4 class="card-title mt-4 text-warning">Previous Payments</h4>
                                <table class="table">
                            
                                    <thead class="mb-2">
                                        <tr class="mb-4" style="border-top: 1px dashed black; border-bottom: 1px dashed black; margin-bottom: 8px;">
                                            <td>#</td>
                                            <td>TransID</td>
                                            <td>Amount</td>
                                            <td class="text-centre" >TYPE</td>
                                            <td>DATE</td>
                                        </tr>
                                    </thead>
    
                                    <tbody class="mt-2">
                                        {% for i in payments %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.payment_id}}</td>
                                            <td class="text-centre">Ksh {{i.amount|intcomma}}</td>
                                            <td>{{i.payment_choice}}</td>
                                            <td>{{i.date}}</td>
                                    
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>                                
    
                                </table>
                                
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        

    </div>
</div>


{% endblock %}