{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class="page-content">


  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Expenses</h4>
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addExpenseModal">
          <i class="btn-icon-prepend" data-feather="file-plus"></i>
          Add New Expenses
        </button>
      </div>
  </div>


  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow">

        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-2">{{expense_month_name}} Expenses</h6>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-xl-12">
                  <h3 class="mb-2">Ksh {{monthly_expense.total_amount|intcomma}}</h3>
                  <div class="d-flex align-items-baseline">
                    {% if monthly_percent_change < 0 %}
                    <p class="text-success">
                      <span>+{{monthly_percent_change}}%</span>
                      <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                    </p>
                    {% elif monthly_percent_change > 1 %}
                    <p class="text-danger">
                      <span>{{monthly_percent_change}}%</span>
                      <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                    </p>
                    {% else %}
                    <p class="text-danger">
                      <span>{{monthly_percent_change}}%</span>
                    </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-2">6 Months Expenses</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-12">
                  <h3 class="mb-2">Ksh {{six_months_expenses|intcomma}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- row -->

  <div class="row mt-4">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
            <h6 class="card-title mb-0">Expenses Analysis</h6>
          </div>
          <div class="row align-items-start mb-2">
            <div class="col-md-7">
              <p class="text-muted tx-13 mb-3 mb-md-0">Graphical Analysis of Total Monthly Expenses</p>
            </div>
          </div>
          <div class="row" >
            <canvas id="monthlyExpensesChart" height="400" width="1000"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->


  <div class="row">
  
    <div class="col-lg-12 col-xl-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">All Expenses</h6>
            <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addExpenseModal">
              <i class="btn-icon-prepend" data-feather="file-plus"></i>
              Add New Expenses
            </button>
          </div>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead >
                <tr >
                  <th>#</th>
                  <th>Date</th>
                  <th class="pt-0">Description</th>
                  <th class="pt-0">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in all_expenses %}
                <tr>
                  <td>{{expense.id}}</td>
                  <td>{{expense.date}}</td>  
                  <td>{{expense.description}}</td>
                  <td>Ksh {{expense.amount|intcomma}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>
    
  </div> <!-- row -->



  <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                  <input type="date" name="date" class="form-control date datepicker" required="" id="id_date">
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9">
                      <input type="text" name="description" class="form-control" placeholder="short description" maxlength="100" required="" id="id_description">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Amount</label>
                  <div class="col-sm-9">
                      <input type="number" name="amount" class="form-control" min="0" required="" id="id_amount">
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
                </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
  </div>


</div>


{% endblock %}