{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<div class="page-content">


  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Inventory</h4>
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addProductModal">
          <i class="btn-icon-prepend" data-feather="file-plus"></i>
          Add New Product
        </button>
      </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow">

        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-2">Inventory Value by Buying Price</h6>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-xl-12">
                  <h3 class="mb-2 text-warning">Ksh {{buying_value|intcomma}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-2">Inventory Value by Selling Price</h6>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-xl-12">
                  <h3 class="mb-2 text-info">Ksh {{selling_value|intcomma}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- row -->

  <div class="row">

    <div class="col-lg-12 col-xl-12 stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-4">All Products</h6>
            </div>
            <div class="table-responsive">
            <table id="dataTableExample" class="table table-hover mb-0">
                <thead>
                <tr>
                    <th class="pt-0">Product</th>
                    <th class="pt-0">Quantity</th>
                    <th class="pt-0">Avg Buying Price</th>
                    <th class="pt-0">Selling Price</th>
                    <th class="pt-0">Buying Price value</th>
                    <th class="pt-0">Selling Price value</th>
                    <th class="pt-0"></th>
                </tr>
                </thead>
                <tbody>
                {% for product in all_products %}
                <tr>
                    <td>{{product.product_name}}</td>
                    <td>{{product.quantity_in_stock|intcomma}}</td>
                    <td>Ksh {{product.average_buying_price|intcomma}}</td>
                    <td>Ksh {{product.selling_price|intcomma}}</td>
                    <td> Ksh {{product.buying_stock_value|intcomma}}</td>
                    <td> Ksh {{product.selling_stock_value|intcomma}}</td>
                    <td><a href="{% url 'edit-product-view' product.id %}" class="badge badge-secondary">edit</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div> 
        </div>
    </div>

  </div>

  <div class="row mt-4">

    <div class="col-lg-12 col-xl-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-4">Damages</h6>
            <button type="button" class="btn btn-warning btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#addDamageModal">
              <i class="btn-icon-prepend" data-feather="file-minus"></i>
              Report Damage
            </button>
          </div>
          <div class="table-responsive">
            <table id="dataTable1" class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="pt-0">Product</th>
                  <th class="pt-0">Quantity</th>
                  <th class="pt-0">Damage value</th>
                  <th class="pt-0">Date of Creation</th>
                </tr>
              </thead>
              <tbody>
                {% for damage in all_damages %}
                <tr>
                  <td>{{damage.id}}</td>
                  <td>{{damage.product}}</td>
                  <td>{{damage.quantity|intcomma}}</td>
                  <td>Ksh {{damage.damage_value|intcomma}}</td>
                  <td>{{damage.damage_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>

  </div>


  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="product_name" maxlength="50" required="" id="id_product_name">
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Selling Price</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="selling_price" value="0" required="" id="id_selling_price">
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
                <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
                </div>
              

            </form>
            
          </div>

          
        </div>
      </div>
  </div>

  <div class="modal fade" id="addDamageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Report New Damage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <form class="forms-sample" method="POST" action="">
            {% csrf_token %}
            
            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product</label>
              <div class="col-sm-9">
                {{damage_form.product}}
              </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Damaged Quantity</label>
                <div class="col-sm-9">
                  <input type="number" name="quantity" class="form-control" required="" id="id_quantity">
                </div>
            </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
              <button class="btn btn-light mt-4"  data-dismiss="modal">Cancel</button>
              </div>
            

          </form>
          
        </div>

        
      </div>
    </div>
  </div>

</div>


{% endblock %}