{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@3"></script>
<script src="https://rawgithub.com/timrwood/moment/2.9.0/min/moment.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-toast-notification@3/dist/theme-sugar.css" rel="stylesheet">

<div class="page-content">

    <div id="app">

        <div class="row">

            <div class="col-12 col-md-8 col-xl-8 stretch-card mb-4">
                <div class="card">
                    <div class="card-body">

                        <form class="search-form mb-4">
                            <div class="input-group">
                            <input type="text" class="form-control" v-model="search_input" placeholder="Search here..."/>
                            </div>
                        </form>

                        <div class="row" >
                            
                            <div class="col-sm-2 btn btn-outline-warning m-2"
                                v-for="(product, index) in filterdProducts" 
                                v-bind:key="index"
                                @click.prevent="addToCart(product,index)" >

                                <p class="card-text" >[[product.product_name]]</p>
                                <p class="card-text" >[[product.quantity_in_stock]]</p>
                            
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-xl-4 stretch-card mb-4">
                <div class="card">
                    <div class="card-body" >

                        <div class="card bg-light m-0">
                            <h5 class="card-title text-dark text-center mt-4 mb-0">KEWA WHOLESALERS</h5>
                            <h5 class="card-title text-dark text-center mb-0">P.O.BOX 5540-00300</h5>
                            <h5 class="card-title text-dark text-center mb-0">TEL NO: 0708 986 621, 0799 548 613</h5>
                            <!-- <h5 class="card-title text-dark text-center mb-0">VAT #: 12124343</h5>
                            <h5 class="card-title text-dark text-center mb-0">PIN : 12124343</h5> -->
                            
                            
                            <table class="text-dark mt-4 ml-2 mr-4 mb-4">
                                <thead class="mb-2">
                                    <tr class="mb-4" style="border-top: 1px dashed black; border-bottom: 1px dashed black; margin-bottom: 8px;">
                                        <td>Item</td>
                                        <td>Price</td>
                                        <td class="text-centre" >Qty</td>
                                        <td>Amount</td>
                                    </tr>
                                </thead>

                                <tbody class="mt-2">
                                    <tr v-for="(cart_product, index) in cart" v-bind:key="index">
                                        <td>[[cart_product.name]]</td>
                                        <td>[[cart_product.price]]</td>
                                        <td><button @click='decrement(index)' :disabled='cart_product.quantity <= 1'>-</button> [[cart_product.quantity]] <button @click='increment(index)'>+</button></td>
                                        <td>[[cart_product.total_price]]</td>
                                        <td type="button" class="text-danger" @click="removeProduct(index)">x</td>
                                    </tr>
                                    
                                </tbody>

                            </table>

                            <div class="ml-2 mr-4" style="border-top: 1px dashed black; margin-bottom: 8px;"></div>
                            <h5  class=" text-dark text-right ml-2 mr-4 mb-2" style="margin-bottom: 8px; font-size: 14px;">Sub Total : Ksh [[ sub_total ]]</h5>
                            <h5  class="card-title text-dark text-right ml-2 mr-4 mb-2" style="border-bottom: 1px dashed black; margin-bottom: 10px; font-size: 14px;"><small>discount : Ksh <input type="number" name="discount" v-model="discount" placeholder="Enter discount amount"></small></h5>
                            <h5  class="card-title text-dark text-right ml-2 mr-4 mb-2" style="border-bottom: 1px dashed black; margin-bottom: 8px; font-size: 18px" @change="getTotal" >Total : Ksh [[ total ]]</h5>


                            <h5 class="card-title text-dark text-center mt-2">DATE: [[date]] </span></h5>

                        </div>

                        <div class="card row  mt-2">
                            <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target="#SaleModal">
                                <i class="btn-icon-prepend" data-feather="dollar-sign"></i>
                            SUBMIT
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div v-if="alert" ref="cart_alert" class="alert alert-fill-danger alert-dismissible fade show" role="alert" style="position: absolute;">
                <i data-feather="alert-circle"></i>
                <p>[[alert]]</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click.prevent="clearAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>



        <div class="modal fade" id="SaleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Sale</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
        
                <div class="modal-body">
        
                    <form>
                        <div class="form-group row mt-1">
                            <label for="payment_choice" class="col-sm-3 col-form-label">Payment <br> Method</label>
                            <div class="col-sm-9">
                                <select v-model="payment_choice">
                                    <option v-for="ch in payment_choices" v-bind:value="ch.name" >[[ch.name]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="paid_amount" class="col-sm-3 col-form-label">Paid amount</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="number" v-model="paid_amount" v-on:input="check_amount" required="" id="id_paid_amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="payment_id" class="col-sm-3 col-form-label">TransID</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" v-model="payment_id" required="" id="id_payment_id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customer" class="col-sm-3 col-form-label">Customer</label>
                            <div class="col-sm-9">
                                <select v-model="customer_name">
                                    <option v-for="customer in customers" v-bind:value="customer.id" >[[customer.name]]</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <button class="col-sm-12 col-form-label btn btn-warning btn-icon-text mb-2 mb-md-0" :disabled="isClicked" @click.prevent="submit_sale()" >
                                <i class="btn-icon-prepend" data-feather="dollar-sign"></i>
                                POST SALE
                            </button>
                        </div>
        
                    </form>
                  
                </div>
                
                <div v-if="modal_alert" ref="modal_alert" class="alert alert-fill-danger alert-dismissible fade show" role="alert" style="position: absolute;">
                    <i data-feather="alert-circle"></i>
                    <p>[[modal_alert]]</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click.prevent="clearAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
              </div>
            </div>
        </div>


    
    </div>

</div>

<script>

    

    let app = Vue.createApp({

        delimiters: ['[[',']]'],
        data: function() {

            return {

                date:  moment(Date()).format('DD/MMMM/YYYY hh:mm:ss'),
                isActive: true,
                isClicked: false,

                all_products: [],
                payment_choices:[{'name':'MPESA'}, {'name':'CASH'}, {'name':'EQUITY'}],
                customers:[],
                search_input: "",
                cart: [],
                alert:"",
                modal_alert:"",
                
                sub_total:0,
                discount:0,
                total:0,



                payment_choice:"",
                paid_amount:0,
                customer_name:"",
                payment_id:""



            }
        },

        mounted(){

            this.getLatestProducts();
            this.check_amount()
        },

        methods: {

            async getLatestProducts(){  

                axios
                    .get("/api/pos_product_data/", {
                    })

                    .then(response => {

                        this.all_products = response.data.all_products
                        this.customers = response.data.all_customers
                    
                    })
                    
                    .catch(function (error) {
                        if (error.response){


                            window.location.reload()
                        }
                    })
            },

            addToCart(product){
                
                var data = {'name':product.product_name, 'product_id':product.id, 'quantity':1, 'price':product.selling_price, 'total_price':product.selling_price};
                

                if (this.cart.some(cart_product => cart_product.product_id === data.product_id)) {

                    this.alert =  "product already in cart!"
                    
            
                } else if (product.quantity_in_stock === 0 || product.quantity_in_stock < 0) {

                    this.alert = "product not in stock"
                    
                } else if (product.selling_price < product.average_buying_price) {

                    this.alert = "buying price is more than selling price"

                } else {

                    this.cart.push(data)
                                        
                }

                total = 0
                this.cart.forEach((item, i) => {
                    total += item.total_price;
                });
                this.sub_total=total

            },

            clearAlert() {
                this.alert = ""
            },

            removeProduct(index){

                this.cart.splice(index,1)
                total = 0
                this.cart.forEach((item, i) => {
                    total += item.total_price;
                });
                this.sub_total=total
            },

            increment(index) {
                cart_product = this.cart[index]
                product = this.all_products.find(obj => {
                            return obj.product_name === cart_product['name']
                            })

                if  (cart_product.quantity < product['quantity_in_stock']) {
                    cart_product.quantity++
                    cart_product.total_price = parseInt(cart_product.quantity * cart_product.price)

                } else {

                    console.log("not enough product in stock")                    

                }
                total = 0
                this.cart.forEach((item, i) => {
                    total += item.total_price;
                });
                this.sub_total=total
            },

            decrement(index) {
                this.cart[index].quantity--
                this.cart[index].total_price = parseInt(this.cart[index].quantity * this.cart[index].price)

                total = 0
                this.cart.forEach((item, i) => {
                    total += item.total_price;
                });
                this.sub_total=total
                
            },

            submit_sale() {

                this.isActive = false
                this.isClicked = true
                axios

                    

                    .post("/api/pos/complete_sale/",

                        {
                            "Products": this.cart,
                            "total_cost": this.sub_total,
                            "discount":this.discount,
                            "actual_cost":this.total,
                            "payment_method":this.payment_choice,
                            "payment_id":this.payment_id,
                            "paid":this.paid_amount,
                            "customer":this.customer_name

                        },
                        {

                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': `{{ csrf_token }}`
                        },
                        }

                            
                    )

                    .then(response => {

                        data = response.data
                        console.log(data)

                        if (data.success){

                            window.location.reload()

                        } else if (data.error){
                            this.modal_alert = data.error
                            this.isClicked = false
                        }

                    })

                    .catch(function (error) {
                        if (error.response){
                            
                            console.log(error)

                        }
                    })

            },

            check_amount() {

                if(this.paid_amount > this.total_cost) {

                    this.isClicked = true
                } 
                else if (this.paid_amount <= this.total_cost) {
                    this.isClicked = false
                }

            }
        },

        computed: {

            filterdProducts: function() {
                return this.all_products.filter((product)=> {

                    return product.product_name.match(this.search_input);

                })
            },

            getTotal() {

                this.total = this.sub_total - this.discount
            },


        },


    });

    app.use(VueToast.ToastPlugin);
    app.mount('#app');
    

</script>

{% endblock %}