{% extends 'base.html' %}
{% load humanize %}

{% block content %}


<div class="page-content">

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Purchases</h4>
      </div>
      <div class="d-flex justify-content-between align-items-baseline mb-2">
        <button type="button" class="btn btn-primary btn-icon-text btn-icon-text mr-2 mb-2 mb-md-0" data-toggle="modal" data-target="#PurchaseModal">
          <i class="btn-icon-prepend" data-feather="shopping-bag"></i>
          New Purchase
        </button>
      </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
          <div class="row flex-grow">

            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-2">{{purchase_month_name}} Purchases</h6>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                      <h3 class="mb-2">Ksh {{monthly_purchase.total_amount|intcomma}}</h3>
                      <div class="d-flex align-items-baseline">
                        {% if monthly_percentage_change > 0 %}
                        <p class="text-success">
                          <span>+{{monthly_percentage_change}}%</span>
                          <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                        </p>
                        {% elif monthly_percentage_change < 0 %}
                        <p class="text-danger">
                          <span>{{monthly_percentage_change}}%</span>
                          <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                        </p>
                        {% else %}
                        <p class="text-danger">
                          <span>{{monthly_percentage_change}}%</span>
                        </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-2">Most Purchased Product</h6>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                      <h3 class="mb-2">{{most_purchased}}</h3>
                      <div class="d-flex align-items-baseline">
                        <p class="text-danger">
                          <span>{{most_purchased.purchase_counter}} purchases</span>
                          
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-0">6 Months Purchases</h6>
                  </div>
                  <div class="row">
                    <div class="col-6 col-md-12 col-xl-12">
                      <h3 class="mb-2">Ksh {{six_month_purchases|intcomma}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> <!-- row -->

    <div class="row mt-4">
      <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
              <h6 class="card-title mb-0">Purchases Analysis</h6>
            </div>
            <div class="row align-items-start mb-2">
              <div class="col-md-7">
                <p class="text-muted tx-13 mb-3 mb-md-0">Graphical Analysis of Total Monthly Purchases</p>
              </div>
            </div>
            <div class="row" >
              <canvas id="monthlyPurchasesChart" height="400" width="1000"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->

    <div class="row">
  
      <div class="col-lg-12 col-xl-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-2">
              <h6 class="card-title mb-0">All Purchases</h6>
              <button type="button" class="btn btn-primary btn-icon-text btn-icon-text mr-2 mb-2 mb-md-0" data-toggle="modal" data-target="#PurchaseModal">
                <i class="btn-icon-prepend" data-feather="shopping-bag"></i>
                New Purchase
              </button>
            </div>
            <div class="table-responsive">
              <table id="dataTableExample" class="table">
                <thead >
                  <tr >
                    <th>#</th>
                    <th>Date of Purchase</th>
                    <th class="pt-0">Product</th>
                    <th class="pt-0">Quantity</th>
                    <th class="pt-0">@</th>
                    <th class="pt-0">Total Cost</th>
                    <!-- <th class="pt-0">Status</th> -->
                    
                  </tr>
                </thead>
                <tbody>
                  {% for purchase in all_purchases %}
                  <tr>
                    <td>{{purchase.id}}</td>
                    <td>{{purchase.date_bought}}</td>  
                    <td>{{purchase.product}}</td>
                    <td>{{purchase.quantity|intcomma}}</td>
                    <td>Ksh {{purchase.buying_price|intcomma}}</td>
                    <td>Ksh {{purchase.total_cost|intcomma}}</td>
                    <!-- <td><span class="badge badge-danger">delivered</span></td> --> 
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div> 
        </div>
      </div>
      
    </div> <!-- row -->

    


    <div class="modal fade" id="PurchaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Purchase</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form class="forms-sample" method="POST" action="">
              {% csrf_token %}

              <!-- {{purchase_form}} -->
              
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    {{purchase_form.product}}
                </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Quantity</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="quantity" required="" id="id_quantity">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Buying </br> Price</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="buying_price" required="" id="id_buying_price">
                  </div>
              </div>
              
              <button type="submit" class="btn btn-primary mr-2 mt-4">Submit</button>
              <!-- <button class="btn btn-light mt-4">Cancel</button> -->
            </form>
            
          </div>

          
        </div>
      </div>
    </div>



</div>


{% endblock %}