{% load static %}

<!DOCTYPE html>
<html lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <title>BIZZY</title>
      <!-- core:css -->
      <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
      <!-- endinject -->
      <!-- plugin css for this page -->
      <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
      <!-- end plugin css for this page -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
      <!-- endinject -->
      <!-- Layout styles -->  
      <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}">
      <!-- End layout styles -->
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    </head>

    <body>
        <div class="main-wrapper">

            <div class="page-wrapper full-page">
                <div class="page-content d-flex align-items-center justify-content-center">

                    <div class="row w-100 mx-0 auth-page">
                        <div class="col-md-8 col-xl-6 mx-auto">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-4 pr-md-0">
                                        <div class="auth-left-wrapper">

                                        </div>
                                    </div>
                                    <div class="col-md-8 pl-md-0">
                                        <div class="auth-form-wrapper px-4 py-5">
                                            <h5 class="text-muted font-weight-normal mb-4">Reset Password</h5>
                                            <h6 class="mb-4">Enter new Password</h6>
                                            <form class="forms-sample" method="POST" action="">
                                                {% csrf_token %}

                                                <div class="form-group">
                                                    <label for="new_password1">Password</label>
                                                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                                </div>

                                                <div class="form-group">
                                                    <label for="new_password2">Confirm Password</label>
                                                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                                </div>

                                                {% if form.errors %}
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <div class="alert alert-danger">
                                                                <strong>{{ field.label }} : </strong><span>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {% for error in form.non_field_errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="mt-3">
                                                    <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Change My Password</button>
                                                    <a href="{% url 'login-view'%}" class="btn-icon-text mb-2 mb-md-0">
                                                        Remember it?
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>

</html>