{% load static %}

<!DOCTYPE html>
<html lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <title>BIZZY</title>
      <!-- core:css -->
      <link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
      <!-- endinject -->
      <!-- plugin css for this page -->
      <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
      <!-- end plugin css for this page -->
      <!-- inject:css -->
      <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
      <!-- endinject -->
      <!-- Layout styles -->  
      <link rel="stylesheet" href="{% static 'assets/css/demo_2/style.css' %}">
      <!-- End layout styles -->
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    </head>

    <body>
        <div class="main-wrapper">

            <div class="page-wrapper full-page">
                <div class="page-content d-flex align-items-center justify-content-center">

                    <div class="row w-100 mx-0 auth-page">
                        <div class="col-md-8 col-xl-6 mx-auto">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-4 pr-md-0">
                                        <div class="auth-left-wrapper">

                                        </div>
                                    </div>
                                    <div class="col-md-8 pl-md-0">
                                    <div class="auth-form-wrapper px-4 py-5">
                                        <h5 class="text-muted font-weight-normal mb-4">Enter your Email and instructions will be sent to you!</h5>
                                        <form class="forms-sample" method="POST" action="">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="id_email">Email</label>
                                                 <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                                            </div>

                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Reset Password</button>
                                                <a href="{% url 'login-view'%}" class="btn-icon-text mb-2 mb-md-0">
                                                    Remember it?
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>

</html>