{% extends 'base.html' %}
{% load humanize %}

{% block content %}


<div class="page-content">

  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
          <h4 class="mb-3 mb-md-0">Sales Module</h4>
      </div>
      <div class="d-flex justify-content-between align-items-baseline mb-2">
        <a type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" href="{% url 'pos_view' %}">
          <i class="btn-icon-prepend" data-feather="dollar-sign"></i>
          New Sale
        </a>
      </div>
  </div>

  <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
          <div class="row flex-grow">

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline">
                      <h6 class="card-title mb-0">Sales Today</h6>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-12 col-xl-12">
                        <h3 class="mb-2">Ksh {{sales_today.total_amount|intcomma}}</h3>
                        <div class="d-flex align-items-baseline">
                            {% if daily_percent_change > 0 %}
                            <p class="text-success">
                              <span>+{{daily_percent_change}}%</span>
                              <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                            </p>
                            {% elif daily_percent_change < 0 %}
                            <p class="text-danger">
                              <span>{{daily_percent_change}}%</span>
                              <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                            </p>
                            {% else %}
                            <p class="text-danger">
                              <span>{{daily_percent_change}}</span>
                            </p>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-2">{{sales_month_name}} Sales</h6>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                      <h3 class="mb-2">Ksh {{current_month_sales.total_amount|intcomma}}</h3>
                      <div class="d-flex align-items-baseline">
                        {% if monthly_percent_change > 0 %}
                        <p class="text-success">
                          <span>+{{monthly_percent_change}}%</span>
                          <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                        </p>
                        {% elif monthly_percent_change < 0 %}
                        <p class="text-danger">
                          <span>{{monthly_percent_change}}%</span>
                          <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                        </p>
                        {% else %}
                        <p class="text-danger">
                          <span>{{monthly_percent_change}}</span>
                        </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h6 class="card-title mb-2">Most Sold Product {{sales_month_name}} </h6>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-12 col-xl-12">
                      <h3 class="mb-2 text-info">{{most_sold.product_name}}</h3>
                      <div class="d-flex align-items-baseline">
                        <p class="text-warning">
                          <span>{{most_sold.sale_counter}} sales </span>
                          
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
  </div> <!-- row -->


  <div class="row mt-4">
      <div class="col-xl-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h6 class="card-title">Daily Sales Analysis</h6>
                  <div class="row align-items-start mb-2">
                    <div class="col-md-7">
                      <p class="text-muted tx-13 mb-3 mb-md-0">Graphical Analysis of daily sales against profit</p>
                    </div>
                  </div>
                  <div class="row">
                    <canvas id="chartjsDailyAnalysis" height="400" width="1000"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row">

    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">All Sales</h6>
            <a type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" href="{% url 'pos_view' %}">
              <i class="btn-icon-prepend" data-feather="dollar-sign"></i>
              New Sale
            </a>
          </div>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead >
                <tr >
                  <th>#</th>
                  <th>Date</th>
                  <th class="pt-0">Customer</th>
                  <th class="pt-0">Total</th>
                  <th class="pt-0">Paid</th>
                  <th class="pt-0">Status</th>
                  <th class="pt-0">Balance</th>
              
                </tr>
              </thead>
              <tbody>
                {% for sale in all_sales %}
                <tr>
                  <td>{{sale.id}}</td> 
                  <td>{{sale.date_sold}}</td>  
                  <td>{{sale.customer_name}}</td>
                  <td>Ksh {{sale.actual_cost|intcomma}}</td>
                  <td>Ksh {{sale.paid_amount|intcomma}}</td>
                  {% if sale.status == 'PAID' %}
                  <td><span class="badge badge-success">PAID</span></td> 
                  <td>Ksh {{sale.balance|intcomma}}<small><a href="{% url 'edit-sale-view' sale.id %}" class="badge badge-light ml-2">view</a></small></td>
                  {% elif sale.status == 'PENDING' %}
                  <td><span class="badge badge-danger">PENDING</span></td>
                  <td>Ksh {{sale.balance|intcomma}}<small><a href="{% url 'edit-sale-view' sale.id %}" class="badge badge-warning ml-2">update</a></small></td>
                  {% endif %}
                
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>
      
  </div> <!-- row -->


  <div class="row mt-4">
      <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
              <h6 class="card-title mb-0">Monthly Sales Analysis</h6>
            </div>
            <div class="row align-items-start mb-2">
              <div class="col-md-7">
                <p class="text-muted tx-13 mb-3 mb-md-0">Graphical Analysis of Monthly Sales</p>
              </div>
            </div>
            
            <div class="row" >
              <canvas id="monthlySalesChart" height="400" width="1000"></canvas>
            </div>
            
          </div>
        </div>
      </div>
  </div> <!-- row -->


</div>


{% endblock %}